<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>郭芯彤簡介</title>
</head>
<body>
    <a href="about.html" target="test">個人簡介</a>
     <a href="https://www1.pu.edu.tw/~s1122053/about.php" target="test">個人簡介(php)</a>
    <a href="https://www.104.com.tw/">104人力銀行</a><br><br>

    <iframe width="1500" height="1000" name="test"
    src="https://www.youtube.com/embed/pW88QFpHXa8" allowfullscreen>


     </iframe>

</body>
</html>